name: Maven Release

on:
  release:
    types: [ published ]

jobs:
  package-and-upload:
    name: Build and Upload JARs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Set release version
        run: |
          TAG=${{ github.event.release.tag_name }}
          echo "VERSION=${TAG#v}" >> $GITHUB_OUTPUT
        id: version

      - name: Set project version
        run: mvn -B versions:set -DnewVersion=${{ steps.version.outputs.VERSION }} -DgenerateBackupPoms=false

      - name: Build and package Maven project
        run: mvn clean package

      - name: Upload to release
        uses: cloudnode-pro/release-upload-asset@v1
        with:
          gh-token: ${{ github.token }}
          files: |-
            target/SMPCore-${{ steps.version.outputs.VERSION }}.jar; type=application/java-archive
